<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dao.StudentMapper">

    <resultMap id="studentMap" type="domain.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="note" column="note"/>
        <association property="card" column="id" select="dao.CardMapper.getCardByStudentId"/>
        <collection property="goals" column="id" select="dao.GoalMapper.getGoalsByStudentId"/>
    </resultMap>

    <select id="getStudent" parameterType="long" resultMap="studentMap">
        SELECT * from student where id=#{id}
    </select>
</mapper>